.navbar {
  font-size: 15px;
  width: 100%;
  background-color: #fff !important;
}

.nav-link {
  font-weight: 500;
  color: #333 !important;
}

.nav-link:hover {
  color: #007bff !important;
}

.btn-warning {
  background-color: #ff9f43 !important;
  border: none !important;
}

.btn-dark {
  background-color: #162447 !important;
  border: none !important;
}
