.sidebar {
  background-color: #1e1e2d;
  min-width: 220px;
  max-width: 220px;
  min-height: 100vh;
  color: #fff;
}

.sidebar .nav-link {
  color: #b5b5c3;
  padding: 10px 20px;
  display: block;
  font-weight: 500;
}

.sidebar .nav-link:hover {
  background-color: #2a2a3c;
  color: #fff;
}
