/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa; /* Bootstrap bg-light */
  color: #212529;
  min-height: 100vh;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
}

/* Navbar custom */
.navbar .nav-link {
  font-size: 14px;
  color: #555 !important;
}

.navbar .nav-link:hover {
  color: #000 !important;
}

/* Buttons */
.btn-warning {
  background-color: #ff9f43 !important;
  border: none !important;
}

.btn-dark {
  background-color: #162447 !important;
  border: none !important;
}
