.page-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.whirly-loader:not(:required) {
  animation: whirly-loader 0.75s linear infinite;
  background: transparent;
  box-shadow: 
    0 26px 0 6px #ff9800,
    0.90971px 26.05079px 0 5.93333px #ff9800,
    1.82297px 26.06967px 0 5.86667px #ff9800,
    2.73865px 26.05647px 0 5.8px #ff9800,
    3.65561px 26.01104px 0 5.73333px #ff9800,
    4.57274px 25.93327px 0 5.66667px #ff9800,
    5.48887px 25.8231px 0 5.6px #ff9800,
    6.40287px 25.68049px 0 5.53333px #ff9800,
    7.31358px 25.50548px 0 5.46667px #ff9800,
    8.21985px 25.2981px 0 5.4px #ff9800,
    9.12054px 25.05847px 0 5.33333px #ff9800,
    10.01448px 24.78672px 0 5.26667px #ff9800,
    10.90054px 24.48302px 0 5.2px #ff9800,
    11.77757px 24.1476px 0 5.13333px #ff9800,
    12.64443px 23.78072px 0 5.06667px #ff9800,
    13.5px 23.38269px 0 5px #ff9800,
    14.34315px 22.95384px 0 4.93333px #ff9800,
    15.17277px 22.49455px 0 4.86667px #ff9800,
    15.98776px 22.00526px 0 4.8px #ff9800,
    16.78704px 21.48643px 0 4.73333px #ff9800,
    17.56953px 20.93855px 0 4.66667px #ff9800,
    18.33418px 20.36217px 0 4.6px #ff9800,
    19.07995px 19.75787px 0 4.53333px #ff9800,
    19.80582px 19.12626px 0 4.46667px #ff9800,
    20.5108px 18.468px 0 4.4px #ff9800,
    21.1939px 17.78379px 0 4.33333px #ff9800,
    21.85416px 17.07434px 0 4.26667px #ff9800,
    22.49067px 16.34043px 0 4.2px #ff9800,
    23.10251px 15.58284px 0 4.13333px #ff9800,
    23.68881px 14.80241px 0 4.06667px #ff9800,
    24.24871px 14px 0 4px #ff9800,
    24.7814px 13.1765px 0 3.93333px #ff9800,
    25.28607px 12.33284px 0 3.86667px #ff9800,
    25.76198px 11.46997px 0 3.8px #ff9800,
    26.2084px 10.58888px 0 3.73333px #ff9800,
    26.62462px 9.69057px 0 3.66667px #ff9800,
    27.01001px 8.77608px 0 3.6px #ff9800,
    27.36392px 7.84648px 0 3.53333px #ff9800,
    27.68577px 6.90284px 0 3.46667px #ff9800,
    27.97502px 5.94627px 0 3.4px #ff9800,
    28.23116px 4.97791px 0 3.33333px #ff9800,
    28.4537px 3.99891px 0 3.26667px #ff9800,
    28.64223px 3.01042px 0 3.2px #ff9800,
    28.79635px 2.01364px 0 3.13333px #ff9800,
    28.91571px 1.00976px 0 3.06667px #ff9800,
    29px 0 0 3px #ff9800,
    29.04896px -1.01441px 0 2.93333px #ff9800,
    29.06237px -2.03224px 0 2.86667px #ff9800,
    29.04004px -3.05223px 0 2.8px #ff9800,
    28.98185px -4.07313px 0 2.73333px #ff9800,
    28.88769px -5.09368px 0 2.66667px #ff9800,
    28.75754px -6.1126px 0 2.6px #ff9800,
    28.59138px -7.12863px 0 2.53333px #ff9800,
    28.38926px -8.14049px 0 2.46667px #ff9800,
    28.15127px -9.1469px 0 2.4px #ff9800,
    27.87755px -10.1466px 0 2.33333px #ff9800,
    27.56827px -11.1383px 0 2.26667px #ff9800,
    27.22365px -12.12075px 0 2.2px #ff9800,
    26.84398px -13.09268px 0 2.13333px #ff9800,
    26.42956px -14.05285px 0 2.06667px #ff9800,
    25.98076px -15px 0 2px #ff9800,
    25.49798px -15.93291px 0 1.93333px #ff9800,
    24.98167px -16.85035px 0 1.86667px #ff9800,
    24.43231px -17.75111px 0 1.8px #ff9800,
    23.85046px -18.63402px 0 1.73333px #ff9800,
    23.23668px -19.49789px 0 1.66667px #ff9800,
    22.5916px -20.34157px 0 1.6px #ff9800,
    21.91589px -21.16393px 0 1.53333px #ff9800,
    21.21024px -21.96384px 0 1.46667px #ff9800,
    20.4754px -22.74023px 0 1.4px #ff9800,
    19.71215px -23.49203px 0 1.33333px #ff9800,
    18.92133px -24.2182px 0 1.26667px #ff9800,
    18.10379px -24.91772px 0 1.2px #ff9800,
    17.26042px -25.58963px 0 1.13333px #ff9800,
    16.39217px -26.23295px 0 1.06667px #ff9800,
    15.5px -26.84679px 0 1px #ff9800,
    14.58492px -27.43024px 0 0.93333px #ff9800,
    13.64796px -27.98245px 0 0.86667px #ff9800,
    12.69018px -28.50262px 0 0.8px #ff9800,
    11.7127px -28.98995px 0 0.73333px #ff9800,
    10.71663px -29.4437px 0 0.66667px #ff9800,
    9.70313px -29.86317px 0 0.6px #ff9800,
    8.67339px -30.2477px 0 0.53333px #ff9800,
    7.6286px -30.59666px 0 0.46667px #ff9800,
    6.57001px -30.90946px 0 0.4px #ff9800,
    5.49886px -31.18558px 0 0.33333px #ff9800,
    4.41643px -31.42451px 0 0.26667px #ff9800,
    3.32401px -31.6258px 0 0.2px #ff9800,
    2.22291px -31.78904px 0 0.13333px #ff9800,
    1.11446px -31.91388px 0 0.06667px #ff9800,
    0 -32px 0 0 #ff9800;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 8px;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

@-webkit-keyframes whirly-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes whirly-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
